* {
    font-family: "Roboto", sans-serif;
}

body, html {
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* 로그인 화면 */
#login-form {
    width: 100%;
    height: 100%;
    background-image: url(../img/maplelogin.jpg);
    background-size: cover;
    text-align: center;
}

#login-form div {
    width: 500px;
    height: 300px;
    background-color: rgba(230, 230, 230, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

#login-form div p {
    padding: 50px;
    font-size: 30px;
}

#login-form div .nameuser, button {
    position: relative;
}

#login-form div .nameuser {
    width: 300px;
    height: 50px;
    background-color: rgba(200, 200, 200, 1);
    color: black;
    margin: 0 20px;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#login-form div .nameuser::placeholder {
    color: white;
}

#login-form div button {
    width: 80px;
    height: 60px;
    background-color: rgba(100, 100, 100, 1);
    color: white;
    border: 0;
}

/* 로그인 이후 */
#login-later {
    width: 100%;
    height: 100%;
}

/* 캐릭터 화면 */
#char-container {
    width: 200px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px;
    text-align: center;
    font-size: 9px;
    border: 1px black solid;
}

#char-container .charimg {
    margin-top: 50px;
    width: 130px;
}

#char-container #logout {
    margin-top: 30px;
    background-color: gray;
    border: 0;
    color: white;
    width: 100px;
    height: 50px;
}

/* 투두리스트 */
.todo-container {
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 20px 20px;
    position: relative;
    border: 1px black solid;
}

.todo-container #todo-form {
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.todo-container #todo-form input {
    background-color: white;
    width: 100%;
    height: 40px;
    border: 0;
}

.todo-container .list-box {
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.todo-container .list-box #todo-list {
    list-style: none;
}

/* 시계, 날씨, 주소 */
.data-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 55px;
}

#weather {
    width: 160px;
    height: 60px;
    padding: 20px;
    background-color: white;
    text-align: center;
    margin-left: 30px;
    border: 1px black solid;
}

.data-clock {
    text-align: center;
    width: 700px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px black solid;
}

.data-clock #clock {
    font-size: 40px;
}

/* 명언 */
.quote-container {
    margin: 10px;
    display: block;
}

#quote {
    margin-left: 20px;
    width: 1000px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
    color: yellow;
    padding: 20px;
    border: 1px black solid;
}

#quote span {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.info-container {
    display: flex;
    gap: 20px;
}
